<div class="fulltext container bg-light mt-3 p-3 rounded">

    <h1>{{post.title}}</h1>
    <br>
    <h5>Author: {{post.username}}</h5>
    <br>
    <h6>Published time : {{post.created_at}}    Recent eddit : {{post.editted_at}}</h6>
    <br>
    <p class="lead">{{post.content}}</p>

</div>

<!--leave a comment-->
<div class="card my-4">

    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body m-3">
        <form action="/post-comment" method="post">
            <div class="form-group">
                <textarea name="comment" id="" rows="3" class="form-control mt-3" placeholder="Comment"
                          required></textarea>
            </div>
            <button class="btn btn-primary mt-3" type="submit">submit</button>

        </form>
    </div>


    <!--comment list-->
    <div class="container bg-light">
        <div class="row">
            <div class="col-md-8">
                <h1>Comments </h1>

                <div class="comments-list">
                    {{#each comments}}
                        <a class="comment-user" href="#">
                            <img class="user-avatar" src="/images/avatars/{{avatar}}.png">

                            <h4 class="media-heading user_name">{{username}}</h4>
                        </a>
<!--                        <p>comment time: {{created_at}}</p>-->
                        <div class="comment">{{content}} <a href="">reply</a>
                        </div>
                    {{/each}}


                </div>


            </div>
        </div>
    </div>

</div>



