<!--import js-->
<script type="module" src="/js/comments.js"></script>

<div class="fulltext container bg-light mt-3 p-3 rounded">

    <h1>{{post.title}}</h1>
    <h3 class="mb-3">
        <img class="user-avatar me-3" src="/images/avatars/{{post.avatar}}.png" alt="">
        <b>{{post.username}}</b><i style="color: gray; font-size:80%"> on: {{post.created_at}}</i>
    </h3>

    <div id="blogContent">{{{post.content}}}</div>


</div>


<!--leave a comment-->

<input type="hidden" id="replierId" value="{{isValidUser.id}}">
<!--comment list-->
<div class="container mt-4" id="blog-container">
    <div class="row">

        <div class="blog-comment">
            <h3 class="text-capitalize">Comments</h3>

            <ul class="card">
                {{#each comments}}
                    <div class="hiddenInfo">
                        <input type="hidden" class="commentId" value="{{commentId}}">
                        <input type="hidden" id="postId" value="{{post_id}}">
                        <input type="hidden" class="posterId" value="{{poster_id}}">
                    </div>
                    <div class="card-header comment-wrapper ">
                        <img class="avatar" src="/images/avatars/{{avatar}}.png" alt="">
                        <div class="post-comments">
                            <p class="meta">
                                {{created_at}} <span class="text-info">{{username}}</span> says :

                                {{#if isCommenter}}
                                    <span class="deleteBtn  badge bg-danger float-end"
                                          style="cursor: pointer;">Delete</span>
                                {{/if}}

                                {{#if ../isValidUser}}
                                    <span class="replyButton  badge bg-primary float-end"
                                          style="cursor: pointer; margin-right: 5px">Reply</span>
                                {{/if}}

                            </p>

                            <p class="text-wrap">{{content}}</p>
                        </div>
                        <!-- reply textarea in here-->
                    </div>
                    {{#if replies}}
                        <div class="reply-list">
                            {{#each replies}}
                                <div class="card-header card-inner comment-wrapper">
                                    <img class="avatar" src="/images/avatars/{{replierAvatar}}.png" alt="">
                                    <div class="post-comments">
                                        <p class="meta">
                                            {{reply_date}}
                                            <span class="text-secondary replierUsername">
                                                {{replierUsername}}
                                            </span> says :
                                            <!-- delete the commenter's post-->
                                            {{#if isReplier}}
                                                <span class="deleteReplyBtn badge bg-danger float-end"
                                                      style="cursor: pointer;">Delete</span>
                                                <input type="hidden" class="replyId" value="{{reply_id}}">

                                            {{/if}}


                                            {{#if ../../isValidUser}}
                                                <span class="replyButton replyTo badge bg-primary float-end"
                                                      style="cursor: pointer; margin-right: 5px">Reply</span>
                                            {{/if}}


                                        </p>


                                        <p class="text-wrap">{{child_content}}</p>


                                    </div>
                                </div>
                            {{/each}}
                        </div>

                    {{/if}}

                {{/each}}
            </ul>

            {{#if isValidUser}}
                <div class="card">
                    <div class="card-header">
                        <h5 class="mt-4">Leave a Comment:</h5>
                        <div class="card-body">
                            <form action="/post-comment" method="post">
                                <div class="form-group">
                            <textarea name="comment" id="reply" rows="3" class="form-control mt-3" placeholder="Comment"
                                      required></textarea>
                                </div>
                                <button class="btn btn-primary mt-3" type="submit">submit</button>

                            </form>
                        </div>

                    </div>
                </div>
            {{else}}
                <div class="card-body m-3 text-center bg-light">
                    You have to <a href="/login">log in</a> to write comment
                </div>
            {{/if}}

        </div>
    </div>
</div>




