<div class="fulltext container bg-light mt-3 p-3 rounded">

    <h1>{{post.title}}</h1>
    <h3 class="mb-3">
        <img class="user-avatar me-3" src="/images/avatars/{{post.avatar}}.png" alt="">
        <b>{{post.username}}</b><i style="color: gray; font-size:80%"> on: {{post.created_at}}</i>
    </h3>

    <div id="blogContent">{{{post.content}}}</div>


</div>

<!--leave a comment-->


<!--comment list-->
<div class="container mt-4">
    <div class="row">

        <div class="blog-comment">
            <h3 class="text-capitalize">Comments</h3>

            <ul class="card">

                {{#each comments}}
                    <div class="card-header comment-wrapper">
                        <img class="avatar" src="/images/avatars/{{avatar}}.png" alt="">
                        <div class="post-comments">
                            <p class="meta">{{created_at}} <a href="#">{{username}}</a> says : <i
                                    class="pull-right"><a id="replyButton-{{@index}}"
                                                          href="#23"><small>Reply</small></a></i></p>


                            <p class="text-wrap">{{content}}</p>

                            <!-- delete the commenter's post-->
                            {{#if isCommenter}}
                                <div class="d-flex flex-row-reverse"><a href="/delete-comment?id={{commentId}}">Delete</a>
                                </div>
                            {{/if}}


                        </div>

                        <!--click reply link to comment input-->
                        <script>

                            $(document).ready(function () {
                                let commentBox = $("#commentBox-{{@index}}").hide();
                                $('#replyButton-{{@index}}').on('click', function () {
                                    commentBox.toggle();
                                });

                                $("submitReplyBtn-{{@index}}").click(function () {

                                    var replyContent = $("replyContent-{{@index}}").val();

                                    $.ajax({
                                        url: '/reply-comment',
                                        type: 'post',
                                        data: {
                                            commentId:{{commentId}},//parentID
                                            postId:{{post_id}},//post.id
                                            posterId:{{poster_id}},//pst_comment.poster_id
                                            replyContent: replyContent,
                                        },
                                        success: function () {
                                            console.log('good')
                                        }
                                    });
                                });

                            });

                        </script>
                        <!--click reply link to comment input-->

                    </div>

                    {{#if replies}}
                        {{#each replies}}
                        <div class="card-header card-inner comment-wrapper">
                            <img class="avatar" src="/images/avatars/{{replierAvatar}}.png" alt="">
                            <div class="post-comments">
                                <p class="meta">{{reply_date}} <a href="#">{{replierUsername}}</a> says : <i
                                        class="pull-right"><a id="replyButton-{{@index}}"
                                                              href="#23"><small>Reply</small></a></i></p>


                                <p class="text-wrap">{{child_content}}</p>

                                <!-- delete the commenter's post-->
                                {{#if isReplier}}
                                    <div class="d-flex flex-row-reverse"><a href="/delete-reply?id={{reply_id}}">Delete</a>
                                    </div>
                                {{/if}}

                            </div>
                        </div>
                        {{/each}}

                    {{/if}}

                    <!--test-->
                    <div id="commentBox-{{@index}}">

                        <div class="form-floating ">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                          id="replyContent-{{@index}}"
                                          style="height: 100px"></textarea>
                            <label for="floatingTextarea">Say something...</label>
                        </div>

                        <button id="submitReplyBtn-{{@index}}" type="button" class="btn btn-primary btn-sm">submit
                        </button>
                    </div>
                    <!--test-->
                {{/each}}

            </ul>



            {{#if isValidUser}}
                <div class="card">
                    <div class="card-header">
                        <h5 class="mt-4">Leave a Comment:</h5>
                        <div class="card-body">
                            <form action="/post-comment" method="post">
                                <div class="form-group">
                            <textarea name="comment" id="reply" rows="3" class="form-control mt-3" placeholder="Comment"
                                      required></textarea>
                                </div>
                                <button class="btn btn-primary mt-3" type="submit">submit</button>

                            </form>
                        </div>

                    </div>
                </div>
            {{else}}
                <div class="card-body m-3 text-center bg-light">
                    You have to <a href="/login">log in</a> to write comment
                </div>
            {{/if}}

        </div>
    </div>
</div>




