<div class="fulltext container bg-light mt-3 p-3 rounded">

    <h1>{{post.title}}123213</h1>
    <br>
    <h3 class="mb-3">
        <img class="user-avatar me-3" src="/images/avatars/{{post.avatar}}.png" alt="">
        <b>{{post.username}}</b><i style="color: gray; font-size:80%"> on: {{post.created_at}}</i></h3>

    <p class="lead">{{post.content}}</p>

</div>

<!--leave a comment-->

<!--comment list-->


<div class="container mt-4">
    <div class="row">

        <div class="col-12">
            <div class="blog-comment">
                <h3 class="text-capitalize">Comments</h3>


                <ul class="card">
                    {{#each comments}}
                        <li>
                            <div class="card-header">
                                <img class="avatar" src="/images/avatars/{{avatar}}.png" alt="">
                                <div class="post-comments">
                                    <p class="meta">{{created_at}} <a href="">{{username}}</a> says : <i
                                            class="pull-right"><a id="replyButton"
                                                                  href="#reply"><small>Reply</small></a></i></p>

                                    <!--click reply link to comment input-->
                                    <script>
                                        $('#replyButton').on('click', function (evt) {
                                            $('textarea').focus();
                                            evt.preventDefault();
                                        });
                                    </script>


                                    <p class="text-wrap">{{content}}</p>

                                    <!-- delete the commenter's post-->
                                    <div class="d-flex flex-row-reverse"><a href="/delete-comment?id=xxx">Delete</a>
                                    </div>

                                </div>

                            </div>
                        </li>

                        <ul>
                            <li>
                                <div class="card-inner card-header">
                                    <img class="avatar" src="/images/avatars/{{avatar}}.png" alt="">
                                    <div class="post-comments">
                                        <p class="meta">{{created_at}} <a href="">{{username}}</a> says : <i
                                                class="pull-right"><a id="replyButton"
                                                                      href="#reply"><small>Reply</small></a></i></p>

                                        <!--click reply link to comment input-->
                                        <script>
                                            $('#replyButton').on('click', function (evt) {
                                                $('textarea').focus();
                                                evt.preventDefault();
                                            });
                                        </script>


                                        <p class="text-wrap">{{content}}</p>

                                        <!-- delete the commenter's post-->
                                        <div class="d-flex flex-row-reverse"><a href="/delete-comment?id=xxx">Delete</a>
                                        </div>

                                    </div>

                                </div>
                            </li>
                        </ul>
                    {{/each}}


                </ul>




                {{#if isValidUser}}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mt-4">Leave a Comment:</h5>
                            <div class="card-body">
                                <form action="/post-comment" method="post">
                                    <div class="form-group">
                            <textarea name="comment" id="reply" rows="3" class="form-control mt-3" placeholder="Comment"
                                      required></textarea>
                                    </div>
                                    <button class="btn btn-primary mt-3" type="submit">submit</button>

                                </form>
                            </div>

                        </div>
                    </div>
                {{else}}
                    <div class="card-body m-3 text-center bg-light">
                        you have to <a href="/login">log in</a> to write comment
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
</div>




